@import "../../styles/references";
.h2 {
  font-size: 48px;
  margin: 3rem 0;
}

.project-text {
  font-size: 24px;
  margin: 1rem 0;
}

.strong {
  $start: map-get(
    $map: $color-vue-gradient,
    $key: start,
  );

  $end: map-get(
    $map: $color-vue-gradient,
    $key: end,
  );
  @include gradientText($start, $end);
  animation-duration: 4s;
}
