@import "../../styles/references";
@import "./animations";

.h2 {
  text-align: center;
}

.p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-shadow: 0 1rem 2rem rgb(43 41 41 / 40%);
  font-size: 32px;
  font-weight: bold;
  z-index: 2;
  white-space: break-spaces;
}

.gradient {
  @include gradientText;
}

.card-container {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.card {
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in;
  width: 300px;
  z-index: 1;

  &:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: translateY(-0.5rem);
  }

  @media screen and (max-width: $breakpoint-sm) {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    overflow: visible;
    position: static;
    z-index: 0;
  }
}

//-------------------
// Step Card Drawing
//-------------------

.card {
  &:hover .image {
    animation: moveHand 3s forwards;
  }

  &:hover .line {
    animation: moveLine forwards;
    animation-delay: 0.7s;
    animation-duration: 6s;
  }

  &:hover .span {
    animation: opacity forwards;
    animation-delay: 3s;
    animation-duration: 0.5s;
  }

  &:hover .line-2 {
    animation: moveLineHero forwards;
    animation-delay: 2.5s;
    animation-duration: 2s;
  }

  &:hover .span-2 {
    animation: opacity forwards;
    animation-delay: 4s;
    animation-duration: 0.5s;
  }
}

.image {
  transition: all 1s ease-in;
  position: absolute;
  top: 0;
  left: 5%;
}

.line {
  padding: 1rem;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
}

.line-2 {
  padding: 5rem;
  position: absolute;
  top: 20%;
  left: 5%;
  width: 90%;
}

.span {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
}

.span-2 {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
}

.div {
  transition: all 0.2s ease-in;
  background-color: $color-light-blue-2;
  height: 100%;
  width: 100%;
}

.canvas {
  display: flex;
  justify-content: space-between;
}

//-------------------
// Step Card Coding
//-------------------
$colors: $color-line-1, $color-line-2, $color-line-3, $color-line-4, $color-line-5, $color-line-6,
  $color-line-7, $color-line-8, $color-line-9, $color-line-10, $color-line-11,
  $color-line-12 $color-line-13, $color-line-14, $color-line-15, $color-line-16, $color-line-17,
  $color-line-18, $color-line-19;

$number-of-lines: 18;

@mixin CodeLine($color) {
  border: 0.5rem solid $color;
  border-radius: 0.3rem;
  width: 0%;
}

@function CodeLineAnimation($duration) {
  @return $duration + 0.5s;
}

.coding {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.5rem;

  @for $i from 1 through $number-of-lines {
    &:hover .code-line-#{$i} {
      animation: growLine-full forwards;
      animation-duration: 0.1s;
      animation-delay: CodeLineAnimation(0.1s * ($i - 1));
    }
  }
}

.code-container-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 30% 10%;
  width: 100%;
}

.code-container-3 {
  @extend .code-container-2;
  grid-template-columns: 50% 50%;
}

.code-container-4 {
  @extend .code-container-2;
  grid-template-columns: 70%;
}

.code-container-5 {
  @extend .code-container-2;
  grid-template-columns: 20% 40% 30%;
}

@for $i from 1 through $number-of-lines {
  .code-line-#{$i} {
    border-radius: 0.3rem;
    border: 0.5rem solid nth($colors, $i);
    width: 0%;
    opacity: 0;
  }
}

@keyframes growLine-full {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 90%;
    opacity: 1;
  }
}
