.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drawer {
  position: absolute;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2rem;

  svg {
    margin-bottom: 0.3rem;
  }
}
