@import "../../styles/references";

.letter {
  font-size: 38px;
}

.letter-space {
  margin-left: 1rem;
}

.h1 {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 0;
}

.h2 {
  font-size: 24px;
}

.p {
  font-size: 14px;
}

.gradient {
  background: -webkit-linear-gradient(
    135deg,
    $color-light-blue,
    $color-light-purple,
    $color-light-blue,
    $color-light-purple
  );
  background: linear-gradient(
    -45deg,
    $color-light-blue,
    $color-light-purple,
    $color-light-blue,
    $color-light-purple
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
