@import "../../styles/references";

.div {
  display: grid;
  grid-template-rows: repeat(3, auto) 1fr;
  padding: 5rem 0;

  @media screen and (max-width: $breakpoint-sm) {
    justify-items: center;
  }
}

.div-talk {
  place-self: center;
  background-color: $color-red;
  border-radius: 50%;
  padding: 0.7rem;
  cursor: pointer;

  div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: lighten($color: $color-red, $amount: 10%);
  }

  p {
    padding: 1.8rem 0.5rem;
    margin: 0;
    font-size: 14px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding: 0.5rem;
    p {
      padding: 1.3rem 0.3rem;
      font-size: 12px;
    }
  }
}

.h1 {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 0;
  min-height: 120px;
}

.letter {
  font-size: 0px;
  margin-right: -3px;
  line-height: 1;
}

.letter-space {
  margin-left: 1rem;
}

.h2 {
  font-size: 24px;
  transform: translateY(70px);
  opacity: 0;

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 20px;
  }
}

.p {
  font-size: 14px;
  opacity: 0;

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 12px;
    text-align: center;
  }
}

.gradient {
  @include gradientText($color-light-blue, $color-light-purple);
  font-size: 40px;
}
