@import "../../styles/references";

.container {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

.bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.bar {
  border-top: 0.5rem solid $color-red;
  width: 50%;
}

.bar2 {
  border-top: 0.5rem solid $color-black;
  width: 50%;
}

.svg {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
