@import "../../styles/references";

.container {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

.bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.bar {
  border-top: 0.5rem solid $color-red;
  width: 50%;
}

.bar2 {
  border-top: 0.5rem solid $color-black;
  width: 50%;
}
