@import "../../styles/references";

@mixin SmoothAnimation {
  transition: all 0.3s ease-in-out;
  animation: alternate smoothFloating 10s ease-in-out infinite;
}

.section {
  height: 100vh;
}

.trigger {
  margin: 1rem;
}

.section-container {
  display: flex;
  gap: 1rem;
  @media screen and (max-width: $breakpoint-xl) {
    flex-direction: column;
  }
}

.container {
  display: grid;
  grid-template-rows: repeat(20, 4%);
  width: 100%;
  justify-content: center;
  align-content: stretch;

  @media screen and (max-width: 1920px) and (min-width: 1380px) {
    grid-template-rows: repeat(20, 2.5%);
  }
}

.screen {
  @include SmoothAnimation;
  z-index: 1;
  grid-column: 15 / 25;
  grid-row: 1 / 11;
  height: min-content;
}

.search {
  @include SmoothAnimation;
  z-index: 3;
  grid-column: 22 / 24;
  grid-row: 2;
  height: min-content;
}

.banner {
  @include SmoothAnimation;
  z-index: 2;
  grid-column: 16 / 24;
  grid-row: 6 / 6;
  height: min-content;
}

.block {
  @include SmoothAnimation;
  z-index: 3;
  height: min-content;
  grid-column: 16 / 17;
  grid-row: 10;
}

.line-1 {
  @include SmoothAnimation;
  z-index: 3;
  height: min-content;
  grid-column: 18 / 19;
  grid-row: 11 / 12;
}

.line-2 {
  @include SmoothAnimation;
  z-index: 3;
  height: min-content;
  grid-column: 18 / 19;
  grid-row: 12;
}

.line-3 {
  @include SmoothAnimation;
  height: min-content;
  grid-column: 17 / 19;
  grid-row: 13;
  z-index: 3;
}

.text {
  width: 100%;
  text-align: center;
}

.text-container {
  padding: 2.5rem;
}

@keyframes smoothFloating {
  0% {
    transform: translate(-5px, 0);
  }

  25% {
    transform: translate(5px, 0);
  }

  50% {
    transform: translate(0, 5px);
  }

  75% {
    transform: translate(0, -5px);
  }

  100% {
    transform: translate(5px, 0);
  }
}

@keyframes circularMoves {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
