@import "../../styles/references";

.section {
  min-height: 100vh;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
}

.main {
  margin: 3rem 0;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin-top: 1rem;
  gap: 2rem;

  @media screen and (max-width: $breakpoint-md) {
    display: flex;
    flex-direction: column;
  }
}

.h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 4rem;
}

.h3 {
  text-align: center;
  background-color: $color-white-transparent;
  backdrop-filter: 10px;
  font-size: 20px;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  margin: 0;
}

.card {
  height: 300px;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  text-align: center;
  background-color: $color-primary;
  color: $color-black;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.cardLinks {
  display: flex;
  background-color: $color-primary;
  width: 100%;
  z-index: 2;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;

  &:hover .image {
    animation: moveAndRotateIcon 0.5s;
    animation-fill-mode: backwards;
  }

  .image {
    display: flex;
    transform: rotate(360deg);
  }
}

.cardLinkContainer {
  display: flex;
  align-items: center;
}

.card-empty {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  border: 5px dashed $color-light-gray;
}

.goto {
  font-size: 0;
  color: $color-dark-gray;
}

.gotoSpace {
  margin-right: 0.2rem;
}

.gotoSpaceL {
  margin-left: 0.2rem;
}

@keyframes moveAndRotateIcon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
