//------------------------------
//---- Variables ---------------
//------------------------------

$font-color: var(--font-color);

// Colors
$color-primary: #fff;
$color-secondary: #eeeeee;
$color-gray: #c4c4c4;
$color-purple: #8000ff;
$color-light-purple: #cf59e6;
$color-light-blue: #6bc5f8;
$color-red: #ec5354;

// Breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

//------------------------------
//---- Mixins ------------------
//------------------------------

@mixin transformOnHover($color) {
  transition: all 0.2s;
  &:hover {
    background-color: $color;
    color: $color-secondary;
    box-shadow: 0 1rem 2rem rgb(43 41 41 / 40%);
    transform: rotate(-5deg) scale(1.1);
  }
}
