//------------------------------
//---- Variables ---------------
//------------------------------

$font-color: var(--font-color);

// Colors
$color-primary: #fff;
$color-secondary: #eeeeee;
$color-black: #000;
$color-dark-gray: #333;
$color-gray: #c4c4c4;
$color-light-gray: #f4f4f4;
$color-purple: #8000ff;
$color-light-purple: #cf59e6;
$color-light-blue: #6bc5f8;
$color-light-blue-2: #5ce1e6;
$color-vue-gradient: (
  start: #42d392,
  end: #647eff,
);
$color-red: #ec5354;
$color-white-transparent: rgba(255, 255, 255, 0.563);

// Code Lines

$map-colors: (
  color-line-1: #47a3ec,
  color-line-2: #f2dd88,
  color-line-3: #afe282,
  color-line-4: #fca5a4,
  color-line-5: #e263ff,
  color-line-6: #8ed431,
  color-line-7: #47a3ec,
  color-line-8: #f2dd88,
  color-line-9: #afe282,
  color-line-10: #fca5a4,
  color-line-11: #858585,
  color-line-12: #8ed431,
  color-line-13: #f2dd88,
  color-line-14: #858585,
  color-line-15: #fca5a4,
  color-line-16: #e263ff,
  color-line-17: #8ed431,
  color-line-18: #47a3ec,
  color-line-19: #fca5a4,
);

// Breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1400px;

//------------------------------
//---- Mixins ------------------
//------------------------------

@mixin transformOnHover($color) {
  transition: all 0.2s;
  &:hover {
    background-color: $color;
    color: $color-secondary;
    box-shadow: 0 1rem 2rem rgb(43 41 41 / 40%);
    transform: rotate(-5deg) scale(1.1);
  }
}

@mixin gradientText($color-1, $color-2) {
  background: -webkit-linear-gradient(135deg, $color-1, $color-2, $color-1, $color-2);
  background: linear-gradient(-45deg, $color-1, $color-2, $color-1, $color-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
}

//------------------------------
//---- Animations --------------
//------------------------------

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
