//------------------------------
//---- Variables ---------------
//------------------------------

// Colors
$color-primary: #fff;
$color-secondary: #eeeeee;

//Color red
$color-red: #ec5354;

// Breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

//------------------------------
//---- Mixins ------------------
//------------------------------

@mixin transformOnHover($color) {
  transition: all 0.2s;
  &:hover {
    background-color: $color;
    color: #f2f0ee;
    box-shadow: 0 1rem 2rem rgb(43 41 41 / 40%);
    transform: rotate(-5deg) scale(1.1);
  }
}
