@import "./references";

//Root
// :root {
//   --background-color-light: #eeeeee;
//   --background-color-dark: #222222;
//   --text-color-light: #333;
//   --text-color-dark: #eeeeee;
// }

@font-face {
  font-family: "Mark Pro";
  src: url("../public/assets/fonts/Mark-Pro.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../public/assets/fonts/MarkPro-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../public/assets/fonts/Mark-Pro-Bold.ttf");
  font-weight: 600;
}

html,
body {
  padding: 0rem;
  margin: 0;
  font-family: "Mark Pro", sans-serif;
}

body {
  background-color: var(--background-color);
}

h1,
h2 {
  margin: 0;
}

h1,
h2,
p,
a,
span,
li {
  color: $font-color;
}

* {
  box-sizing: border-box;
}
